SERVER_URL=https://exam-server-ngauwtyn4a-uc.a.run.app
FIREBASE_API_KEY=replace-me
FIREBASE_AUTH_DOMAIN=copper-axiom-496204-b2.firebaseapp.com
FIREBASE_PROJECT_ID=copper-axiom-496204-b2

# Solo para launcher/lab.sh
SESSION_CODE=TEST123

# Opcional: override de imagen para launcher/lab.sh
# EXAMLOCK_IMAGE=examlock/agent:dev
